body {
  background: pink;
  padding: 0;
  margin: 0;
  overflow: hidden; /* damit der Hintergrund nicht scrollt */
}

.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
  background-color: red;
  transform: scale(2) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}

/* scalen gebeurt vanaf het midden van het element */
